@import url('https://fonts.googleapis.com/css2?family=Pangolin&display=swap');
:root {
    font-family: 'Pangolin', cursive;
    --main-color: rgb(240, 240, 240);
    
    color: var(--main-color);
    scroll-behavior: smooth;
    }
body {
    background-color: rgba(100, 100, 100);
    margin: auto;
}
h1, h2, h3, p{
    margin: 0;
    padding: 0;
}
header nav div {
    font-size: 30px;
    text-align: left; 
}
header nav div span a {
    text-decoration: none;
    font-weight: bold;
    color: var(--main-color);
}
header nav div p{
    font-size: 15px;
    font-weight: bold;
    margin-left: 15px;
    text-decoration: none;
}
header nav .top-menu {
    display: flex;
    list-style: none;
    justify-content: space-around;
    padding: 0;
    /*margin-right: 20px;*/
    /*justify-content: flex-end;*/    
    }
header nav .top-menu li a {
    font-size: 20px;
    /*text-decoration: none;*/
    color: var(--main-color);
    padding: 5px;
    border: 1px solid transparent;
}
header nav .top-menu li a:hover {
    border: 1px solid var(--main-color);
}
@media (min-width: 500px) {
    header nav {
        display: flex;
        align-items: center;
    }
    header .top-menu {
        flex: 1;
    }
}
header {
    background-image: url(../img/elec.jpg);
    background-position: center;
    background-size: cover;
    min-height: 574px;
}
header .banner {
    /*background-image: url(../img/elec.jpg);
    background-position: center;
    background-size: cover;*/
    min-height: 574px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-direction: column;
}
header .banner .title {
    color: var(--accent-color);
    font-size: 20px;
}
.button {
    display: inline-block;
    padding: 0.35em 1.2em;
    border: 0.1em solid #FFFFFF;
    margin: 0 0.3em 0.3em 0;
    border-radius: 0.12em;
    box-sizing: border-box;
    text-decoration: none;
    font-weight: 300;
    color: #FFFFFF;
    text-align: center;
    transition: all 0.3s;
    background-color: transparent;
    margin-bottom: 40px;
}

.button:hover {
    color: #000000;
    background-color: #FFFFFF;
    cursor: pointer;
}
@media (min-width: 500px) {
    header .banner {
        background-position: top;
    }
}
/*#icon {
    float: left;
    margin-left: 11px
}
#main-logo a {
    margin-left: 0px;
    float: left;
    font-weight: bold;
    font-size: 27px;
    text-decoration: none;
} 
#sub-logo {
    margin-left: 1px;
    float: left;
    font-weight: bold;
    font-size: 14px;
} 
nav {
    float: right;
    overflow: hidden;
}
nav li {
    float: left;
    list-style: none;
}
nav li a {
    font-size: 18px;
    font-weight: bold;
    text-decoration: none;
    padding: 10px 20px;
    color: black;
}
nav li a:hover {
    color: orange;
}
main {
    text-align: center;
}
#home {
    margin: 30px 1px 1px 30px;
    padding: 30px;
}
#services {
    font-size: 24px;
	line-height: 1.5;
	padding: 30px;
}
#button-contacts {
    font-size: 24px;
    padding: 30px;
    font-weight: bold;
}
#projects {
    font-size: 24px;
	line-height: 1.5;
	padding: 30px;
}
#feedback {
    font-size: 24px;
	line-height: 1.5;
	padding: 30px;
}
footer {
    text-align: center;
    font-size: 24px;
    line-height: 1.5;
}
footer p {
    font-size: 18px;
    background-color: gray;
}*/